In [1]:
import pandas as pd
data=pd.read_csv('CC_DATA.csv')
data.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

unsupervised algorithm is the clustering


From the dataset customers of similar characteristics have to be found out

In [2]:
cus=data['CUST_ID']

In [3]:
data=data.dropna()

In [4]:
data1=data.drop(['CUST_ID'],1)

In [5]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
data_norm=sc.fit_transform(data1)

If the whole group is fitted into 2 then the number has to be given as 2

In [6]:
from sklearn.cluster import KMeans
km=KMeans(n_clusters=3,random_state=48)

In [7]:
km.fit(data_norm)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=48, tol=0.0001, verbose=0)

In [8]:
grp=km.predict(data_norm)
grp

array([2, 0, 2, ..., 2, 2, 2])

In [9]:
5344

5344

In [10]:
cus=data['CUST_ID']
cus.isnull().sum()

0

In [11]:
cus=pd.DataFrame(cus)
cus1=cus.reset_index(drop=True)

In [12]:
cus1

     CUST_ID
0     C10001
1     C10002
2     C10003
3     C10005
4     C10006
5     C10007
6     C10008
7     C10009
8     C10010
9     C10011
10    C10012
11    C10013
12    C10014
13    C10015
14    C10016
15    C10017
16    C10018
17    C10019
18    C10020
19    C10021
20    C10022
21    C10023
22    C10024
23    C10025
24    C10026
25    C10027
26    C10028
27    C10029
28    C10030
29    C10031
...      ...
8606  C19156
8607  C19157
8608  C19158
8609  C19159
8610  C19161
8611  C19162
8612  C19163
8613  C19164
8614  C19165
8615  C19166
8616  C19167
8617  C19168
8618  C19169
8619  C19171
8620  C19172
8621  C19173
8622  C19174
8623  C19175
8624  C19177
8625  C19178
8626  C19179
8627  C19180
8628  C19181
8629  C19182
8630  C19183
8631  C19184
8632  C19186
8633  C19188
8634  C19189
8635  C19190

[8636 rows x 1 columns]

In [13]:
grp=pd.DataFrame(grp)

In [14]:
con=pd.concat([cus1,grp],1)

In [15]:
grp0=con[con[0]==0]
grp1=con[con[0]==1]
grp2=con[con[0]==2]

In [16]:
grp0.head()

   CUST_ID  0
1   C10002  0
14  C10016  0
22  C10024  0
23  C10025  0
27  C10029  0

In [17]:
grp0.shape

(1547, 2)

The number of features after dropping the values

In [18]:
data1.shape

(8636, 17)

In [19]:
grp1.shape

(1216, 2)

In [20]:
grp2.shape

(5873, 2)

In [21]:
grp.shape

(8636, 1)

In [22]:
cent=km.cluster_centers_

In [23]:
cent.shape

(3, 17)

This is the centralized data for normalized data

This is the centroid

In [24]:
cent1=sc.inverse_transform(cent)
cent1

array([[4.02369410e+03, 9.60292569e-01, 3.86735391e+02, 2.49664693e+02,
        1.37150640e+02, 3.91254046e+03, 2.33199063e-01, 1.11455302e-01,
        1.45201866e-01, 4.51290537e-01, 1.25669037e+01, 5.60698125e+00,
        6.73393959e+03, 3.07048856e+03, 1.77876995e+03, 3.31370814e-02,
        1.13516484e+01],
       [2.23179948e+03, 9.82338172e-01, 4.28680209e+03, 2.72405200e+03,
        1.56324270e+03, 4.63722068e+02, 9.50503202e-01, 6.67365490e-01,
        7.48545263e-01, 6.37563900e-02, 1.54761905e+00, 5.68513957e+01,
        7.76005747e+03, 4.17112967e+03, 1.25931622e+03, 2.98735553e-01,
        1.19220033e+01],
       [8.32088508e+02, 8.59727938e-01, 5.17125251e+02, 2.58865987e+02,
        2.58593613e+02, 3.35238671e+02, 4.70956251e-01, 1.35063084e-01,
        3.48965609e-01, 7.02688067e-02, 1.24220746e+00, 8.84142395e+00,
        3.26752233e+03, 9.50480518e+02, 5.41395541e+02, 1.63621723e-01,
        1.15021291e+01]])

In [25]:
cent1=pd.DataFrame(cent1)

In [26]:
cent1.columns=data1.columns
cent1.head()

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,4023.694104,0.960293,386.735391,249.664693,137.150640,3912.540465,0.233199,0.111455,0.145202,0.451291,12.566904,5.606981,6733.939590,3070.488562,1778.769952,0.033137,11.351648
1,2231.799476,0.982338,4286.802085,2724.051995,1563.242701,463.722068,0.950503,0.667365,0.748545,0.063756,1.547619,56.851396,7760.057471,4171.129668,1259.316218,0.298736,11.922003
2,832.088508,0.859728,517.125251,258.865987,258.593613,335.238671,0.470956,0.135063,0.348966,0.070269,1.242207,8.841424,3267.522328,950.480518,541.395541,0.163622,11.502129

In [27]:
from sklearn.decomposition import PCA
pca=PCA(2)

Concentrate much on quality of clustering

Increasing the number of clusters must not make any overlap in the clusters........so find the optimal value of 
'k' so that there is no overlapping

In [28]:
new=pd.concat([data,con],1).dropna()

In [29]:
data_norm.shape

(8636, 17)

In [30]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(data_norm,grp,test_size=0.3,random_state=48)

In [31]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(xtrain,ytrain)
group_pred=rf.predict(xtest)

C:\Users\Gowrav Tata\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Gowrav Tata\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [32]:
from sklearn.metrics import classification_report
print(classification_report(ytest,group_pred))

              precision    recall  f1-score   support

           0       0.92      0.96      0.94       467
           1       0.95      0.92      0.94       366
           2       0.98      0.97      0.97      1758

    accuracy                           0.96      2591
   macro avg       0.95      0.95      0.95      2591
weighted avg       0.96      0.96      0.96      2591

In [33]:
grp.head()

   0
0  2
1  0
2  2
3  2
4  2

In [34]:
clusterout=pd.DataFrame()
clusterout['out']=group_pred